
<nav class="f-row flex-wrap:wrap justify-content:center crowded" aria-label="Site navigation">
    <a href="/" id="footer-book-name" class="bold allcaps display-font italic">Databend Systems</a>
    <a href="/book/contents">Contents</a>
    <a href="/contributing">Contributing</a>
    <a href="https://twitter.com/repsiace">Twitter</a>
    <a href="https://github.com/psiace/databend-systems">GitHub</a>
</nav>

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "b26eba5a9d464f858b8989842b4233dd"}'></script><!-- End Cloudflare Web Analytics -->
