
<nav class="f-row flex-wrap:wrap justify-content:center crowded" aria-label="Site navigation">
    <a href="/" id="footer-book-name" class="bold allcaps display-font italic">Databend Systems</a>
    <a href="/book/contents">Contents</a>
    <a href="/contributing">Contributing</a>
    <a href="https://twitter.com/repsiace">Twitter</a>
    <a href="https://github.com/psiace/databend-systems">GitHub</a>
</nav>
